---
import IndexPage from "@/layouts/IndexPage.astro";
import {t} from '@/i18n/utils'
---

<IndexPage frontmatter={{comment: false, donate: false,}}>
  <div class="flex text-xl underline-offset-4 font-bold">
    {t('message.welcome')}
  </div>
  <div class="mt-4 text-gray-600 dark:text-gray-400 italic text-center text-lg leading-relaxed">
    "那些看似不起波澜的日复一日，会突然在某一天让人看到坚持的意义。"
  </div>
  <div class="mt-4 text-gray-600 dark:text-gray-400 italic text-center text-lg leading-relaxed">
    "所有的幸运，都是努力埋下的伏笔。"
  </div>
  <div class="mt-4 text-gray-600 dark:text-gray-400 italic text-center text-lg leading-relaxed">
    "你只管努力，剩下的交给时间。"
  </div>
  <div class="mt-6">
    {t('message.welcomeTips')}
  </div>
</IndexPage>
