---
import {site} from "@/consts";
import {t} from '@/i18n/utils'
import getUrl from "@/utils/getUrl";
---

<div class:list={['h-10', 'container p-1 absolute left-0 bottom-0']}>
  <div class="flex items-center flex-col flex-wrap justify-center mb-4 text-skin-base first:mb-0 sm:flex-row">
    <div>
      <span class="cursor-default">版权所有</span>
      <i class="ri-copyright-line align-middle"></i>
      <span class="align-middle">{new Date().getFullYear()}</span>
    </div>
    {
      site.beian && (
        <div class="divider-vertical hidden sm:block"></div>
        <a rel="nofollow" target="_blank" href="https://beian.miit.gov.cn/">
          {site.beian}
        </a>
      )
    }
    <div class="divider-vertical"></div>
    <a href={getUrl("/sitemap-0.xml")}>{t('footer.sitemap')}</a>
  </div>
</div>
